nav.navigation
  .navigation__wrapper
    a.navigation__link(href='/')
      img.cercas-humaya___logo(src='../logo-cercas.png')

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="#history__sec") Historia

      li.navigation__list__item
        a.navigation__list__link(href="#services__sec") Servicios

      li.navigation__list__item
        a.navigation__list__link(href="#contact__sec") Contacto