.home__callout {
    height: 100vh;
    width: 100%;
}

.home__callout__wrapper {
    @extend %center;
    width: 100%;
    height: 100%;
}

.home__callout__info {
    max-width: 48.7rem;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.home__callout_title {
    @extend %title-50;

    color: $color-white;
    margin-bottom: 2rem;
}

.home__callout_media  {
    width: 100%;
    height: 100%;
    position: relative;
}

.home__callout__media__image {
    @extend %cover;
    object-fit: cover;
}